rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
     match /orders/{order} {
      allow read: if request.auth != null;
      allow write;
    } 
  }
}